<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Demo1Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Plugin1AppTheme">
        <activity
            android:name=".Demo1MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity1"
            android:exported="false"
            android:launchMode="singleTop" />

        <!-- 演示对 ContentProvider 的支持 -->
        <provider
            android:name=".Demo1Provider"
            android:authorities="${applicationId}.demo1.provider"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <!-- 演示对 Initializer 的支持 -->
            <meta-data
                android:name="com.ysj.demo.aplugin.demo1.Demo1Initializer"
                android:value="androidx.startup" />
        </provider>

        <!-- 演示对 Service 的支持 -->
        <service
            android:name=".Demo1Service"
            android:exported="false"
            android:process=":demo1" />

        <!-- 演示对 BroadcastReceiver 的支持 -->
        <receiver
            android:name=".Demo1Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="demo1.receiver.action1" />
            </intent-filter>
        </receiver>

    </application>

</manifest>